.jumbotron {
  background-color: orange;
  color: darkgreen;
  text-align: center;
}

ul {
  list-style-type: none;
}

.orderUp {
  color: darkgreen;
  font-size: 27px;
}

#printout {
  background-color: lightblue;
  width: 90%;
  /*display: none;*/
}
